.slider-container{

    .slider-left{
        position: absolute;
        top: 37%;
        transform: translateY(-50%);
        transform: translateX(0%);
        left: 8%;
        cursor: pointer;
        color:white;
       
        
       
    }
    .slider-right{
        position: absolute;
        top: 37%;
        transform: translateY(-50%);
        transform: translateX(0);
        right: 8%;
        cursor: pointer;
        color: white;
    
    }
    .slider-number{
        position: absolute;
        top: 59%;
        left: 50%;
        color: white;
    }
}