
.tags-container{
    display: flex;
    gap: 12px;
    .tags{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 115px;
        height: 25px;
        border-radius: 10px;
        background-color: #FF6060;
        position: relative;
        top: -28px;
        padding: 10px;
        p{
            color: white;
            font:{
                family: 'Montserrat';
                size:14px ;
                weight: 700;
            }
        }
    }
}
