
.tags-container{
    display: flex;
    gap: 12px;
    .tags{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 115px;
        height: 25px;
        border-radius: 10px;
        background-color: #FF6060;
        position: relative;
        top: -28px;
        padding: 10px;
        p{
            color: white;
            font:{
                family: 'Montserrat';
                size:14px ;
                weight: 700;
            }
        }
    }
}



//max-width: 595px
@media all and (max-width:595px){
    .tags-container{
        .tags{
            
            width: 84px;
            height: 18px;
            top: -28px;
            padding: 10px;
            p{
                color: white;
                font:{
                    size:10px ;
                }
            }
        }
    }
}