.collapse-container{
    display: flex;
    flex-direction: column;
    .collapse{
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 52px;
        border-radius: 5px;
        background-color: #FF6060;
        padding: 0 10px 0 10px;
        h2{
            color: white;
            font:{
                family: 'Montserrat';
                size: 18px;
                weight: 700;
            }
        }
        .icon{
            color: white;
            font-size: 35px;
            cursor: pointer;
        }
    }
    .collapse_apropos, .description_logements{
        
        background-color: #F6F6F6;
        padding: 0px 15px ;
        p{
            font:{
                family: 'Montserrat';
                size: 18px;
                weight: 400;
            }
        }
        
    }
    .collapse-equipment{
        background-color: #F6F6F6;
        ul{
            list-style: none;
            padding: 0px 15px;
            li{
                
                font:{
                    family: 'Montserrat';
                    size: 18px;
                    weight: 400;
                }
            }
        }
    }
}



//max-width: 595px
@media all and (max-width: 595px){
    .collapse-container{
        .collapse{
           height: 40px;
            h2{
                font:{
                    size: 13px;
                }
            }
            .icon{
                font-size: 25px;
            }
        }
    }
    
}