#root {
  margin: 0 ;
  padding: 2re;
}
.main-container{
  padding: 10px 8%;
}



/* sur mobile max-width: 480px */
@media all and (max-width: 480px){
    .main-container{
        padding: 20px;
    }

}